<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="DigiArt Template">
    <meta name="keywords" content="DigiArt, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eWaste</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/ourstyle.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> eWastedesk@work.com</li>
                            <li>eWaste Ltd</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">

                    <div class="header__top__right">
                        <a href="#"><i class="fa fa-user"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="index.html"><img src="images/eWaste-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-9">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>


                        <li><a href="#">My devices</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/owndevice">Device status</a></li>
                                <li><a href="#">Help Center</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Main</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="connect-wallet.html">Connect Wallet</a></li>
                                <li><a href="create-item.html">Create Item</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">

            </div>
        </div>

        <div class="open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Title Begin -->
<section class="device__item__second set-bg" data-setbg="images/E-Waste.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div>
                    <h2 style="color: black">eWaste</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 style="font-size: 25px;text-align: center">In this page, you can check your data information and download your own data</h2>
                    <h1 style="font-size: 20px;text-align: center;font-weight: bold">Notice:Your data will not always be stored here , please pay attention to the storage time </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Title End -->


<!-- Featured Section Begin -->
<section class="featured" style="padding-top: 100px;padding-bottom: 70px">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="download__layout">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="data__details">
                                <div class="data__details__text">
                                    <h6>Nokia G50</h6>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p>Category:Recycle</p>
                        </div>
                    </div>

                    <div style="font-size: 15px">Data size: 20GB</div>
                    <div style="font-size: 15px">Retrieval period: 4 month</div>
                    <button type="submit" class="download__button">download</button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="download__layout">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="data__details">
                                <div class="data__details__text">
                                    <h6>iphone 13 mini red</h6>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p>Category:Recycle</p>

                        </div>

                    </div>

                    <div style="font-size: 15px">Data size: 15GB</div>
                    <div style="font-size: 15px">Retrieval period: 3 month</div>
                    <button type="submit" class="download__button">download</button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="download__layout">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="data__details">

                                <div class="data__details__text">
                                    <h6>Huawei p30</h6>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p>Category: Rare</p>

                        </div>

                    </div>

                    <div style="font-size: 15px">Data size: 5GB</div>
                    <div style="font-size: 15px">Retrieval period: 3 month</div>
                    <button type="submit" class="download__button">download</button>
                </div>
            </div>





            <div class="col-lg-12 text-center">

                <div class="page__pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">&raquo;</a>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- Featured Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="index.html"><img src="images/eWaste-logo.png" alt=""></a>
                    </div>

                    <ul>
                        <li>Address: S2 4BF Boston Street</li>
                        <li>Phone:  +44 7579123456</li>
                        <li>Email: eWastedesk@work.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">


                </div>
            </div>
            <div class="col-lg-4 col-md-12">

            </div>
        </div>

    </div>
</footer>
<!-- Footer Section End -->

<!-- Javascripts Plugins -->
<script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.nice-select.min.js"></script>
<script src="javascripts/jquery-ui.min.js"></script>
<script src="javascripts/jquery.slicknav.js"></script>
<script src="javascripts/mixitup.min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery.syotimer.min.js"></script>
<script src="javascripts/main.js"></script>



</body>

</html>
