<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="eWaste Recycle">
    <meta name="keywords" content="eWaste, recycle, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eWaste</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/ourstyle.css" type="text/css">

    <script>fetch('https://jsonplaceholder.typicode.com/todos/1')
              .then(response => response.json())
              .then(json => console.log(json))
    </script>
  </head>
  <body>
  <!-- Loader page -->
  <div id="preloder">
    <div class="loader"></div>
  </div>



  <!-- Header Section -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header__top__left">
              <ul>
                <li><i class="fa fa-envelope"></i> eWastedesk@work.com</li>
                <li>eWaste Ltd</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header__top__right">
              <div class="header__top__right__auth">
                <a href="/login"><i class="fa fa-user"></i> Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-xl-6 col-lg-8">
          <nav class="header__menu">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>

              <li><a href="#">My devices</a>
                <ul class="header__menu__dropdown">
                  <li><a href="#">Device status</a></li>
                  <li><a href="#">--</a></li>
                  <li><a href="#">--</a></li>
                  <li><a href="#">Help Center</a></li>
                </ul>
              </li>


              <li><a href="#">Main</a>
                <ul class="header__menu__dropdown">
                  <li><a href="connect-wallet.html">Connect Wallet</a></li>
                  <li><a href="/upload">Upload Device</a></li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="signup.html">Signup</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

      </div>
      <div class="open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- Header Section -->

  <!-- Device Section -->



  <div class="col-lg-12">
    <div class="device__item set-bg" data-setbg="images/international-e-waste-day.jpg">
      <div class="col-xl-5 col-lg-7 col-md-12">
        <div class="device__text">
          <span class="device__text__span">Begin now</span>
          <h2>Sell and Recycle </h2>
          <p style="color: white; font-size: 20px">You can sell your devices or browse our web to find your favourite devices!</p>
        </div>
      </div>

    </div>
  </div>
  <!-- Device Section -->









  <!-- Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <a href="#"><h2 style="font-size: 50px;text-align: center;text-decoration: underline">Upload Now!</h2></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="eW__item">
            <div class="eW__item__pic">
              <img src="images/Own.jpg" alt="">
            </div>
            <div class="eW__item__text">

              <h5 style="text-decoration: underline"><a href="Own-devices.html">Own device</a></h5>
              <p>You can see your own device here</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="eW__item">
            <div class="eW__item__pic">

            </div>
            <div class="eW__item__text">



            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="eW__item">
            <div class="eW__item__pic">
              <img src="images/data.png" alt="">
            </div>
            <div class="eW__item__text">

              <h5 style="text-decoration: underline"><a href="data.html">Data</a></h5>
              <p>Store your data </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

  <!-- Footer Section -->
  <footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__bottom">
            <div class="footer__logo">
              <a href="index.html"><img src="images/eWaste-logo.png" alt=""></a>
            </div>
            <ul>
              <li>Address: S2 4BF Boston Street</li>
              <li>Phone:  +44 7579888666</li>
              <li>Email: eWastedesk@work.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
          </div>

        </div>

        <div class="col-lg-4 col-md-12">
          <div class="footer__widget">
            <h6>Join eWaste Now</h6>
            <p>Input your email, you can get the latest information about us.</p>
            <form action="#">
              <input type="text" placeholder="Enter your mail">
              <button type="submit" class="site-btn">Subscribe</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </footer>
  <!-- Footer Section -->

  <!-- Javascript Plugins -->
  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.nice-select.min.js"></script>
  <script src="javascripts/jquery-ui.min.js"></script>
  <script src="javascripts/jquery.slicknav.js"></script>
  <script src="javascripts/mixitup.min.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="javascripts/jquery.syotimer.min.js"></script>
  <script src="javascripts/main.js"></script>



  </body>

</html>

