<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Store Template">
    <meta name="keywords" content="Store, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DigiArt | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/L_style.css" type="text/css">

    <script>fetch('https://jsonplaceholder.typicode.com/todos/1')
            .then(response => response.json())
            .then(json => console.log(json))
        function chg(){
            if(document.getElementById("sel").value=="txt"){
                document.getElementById("txt").style.display="";
                document.getElementById("btn").style.display="none";
            }else{
                document.getElementById("txt").style.display="none";
                document.getElementById("btn").style.display="";
            }
        }
    </script>
</head>

<body>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__widget">
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> eWastedesk@work.com</li>
                                <li>eWaste Ltd</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__auth">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Page top Section Begin -->
    <section class="P-top-section set-bg" data-setbg="images/P-top.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="P-top__text">
                        <h2>Sign up</h2>
                        <div class="P-top__option">
                            <a href="/">Home</a>
                            <span>Sign up</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page top Section End -->

    <!-- signup Section Begin -->
    <section class="checkout spad">
        <div class="container">

            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-md-12 checkout__order">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Full Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Email Address<span>*</span></p>
                                        <input type="email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Password<span>*</span></p>
                                        <input type="password">
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <button type="submit" class="site-btn">Sign up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-1 col-md-2" align="center">
                            <div class="footer__about">
                                <div class="footer__about__logo">
                                    <a href="/"><img src="images/eWaste-logo.png" height="50%" width="50%"></a>
                                </div>
                                <ul>
                                    <li>Address: S2 4BF Boston Street</li>
                                    <li>Phone:  +44 7579888666</li>
                                    <li>Email: eWastedesk@work.com</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="footer__widget">
                                <h6>Join eWaste Now</h6>
                                <p>Input your email, you can get the latest information about us.</p>
                                <form action="#">
                                    <input type="text" placeholder="Enter your mail">
                                    <button type="submit" class="site-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.nice-select.min.js"></script>
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/jquery.slicknav.js"></script>
    <script src="javascripts/mixitup.min.js"></script>
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/jquery.syotimer.min.js"></script>
    <script src="javascripts/main.js"></script>



</body>

</html>