html,
body{
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    color: #111111;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 30px;
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    margin: 0;
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

hs{
    font-size: 50px;
    color: white;
}
p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

.open {
    display: none;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.shape{
    background: #0077cc;
    height: 36px;
    border-radius: 22px;
    padding: 6px 12px;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
}
.button{
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #0084ff;
    border: none;
}

.support-img{
    width: 150px;
}

/* Header */
.header .container {
    position: relative;
}

.header__top{
    background: #f5f5f5;
    height: 50px;
}

.header__top__left{
    padding: 10px 0 13px;
}

.header__top__left ul li {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 45px;
    position: relative;
}

.header__top__right{
    text-align: right;
    padding:10px 0 15px
}

/* Title */

.title{
    margin-bottom: 50px;
    text-align: center;
}

.title h2{
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}

/*footer section */

.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}

.footer__widget {
    margin-bottom: 30px;
    overflow: hidden;
}

.footer__about {
    margin-bottom: 30px;
}

.footer__about ul li {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 36px;
    list-style: none;
}

.footer__about__logo {
    margin-bottom: 15px;
}

.footer__widget form {
    position: relative;
    margin-bottom: 30px;
}

.footer__widget form input {
    width: 90%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
}

/*Top*/
.P-top-section {
    display: flex;
    background-position: center;
    align-items: center;
    padding: 45px 0 40px;
}

.P-top__text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
}

.P-top__option a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
}

.P-top__option a:after {
    position: absolute;
    right: -12px;
    top: 13px;
    height: 1px;
    width: 10px;
    background: #ffffff;
    content: "";
}

.P-top__option span {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}

/*---------------------
  checkout
-----------------------*/


.checkout__form h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.checkout__order {
    padding: 40px;
    padding-top: 30px;
    margin-top: 30PX;
    margin-bottom: 30px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.checkout__input {
    margin-bottom: 24px;
}

.checkout__input p {
    color: #1c1c1c;
    margin-bottom: 20px;
}

.checkout__input p span {
    color: #dd2222;
}

.checkout__input input {
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 16px;
    color: #b2b2b2;
    border-radius: 4px;
}

/*Button*/

.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #0084ff;
    letter-spacing: 2px;
}

.offer-btn{
    background: radial-gradient(115.34% 575.98% at 104.79% 0%, rgba(113, 227, 242, 0.17) 0%, rgba(124, 177, 255, 0.17) 44.96%, rgba(250, 0, 255, 0.09) 100%);
    text-align: center;
    padding: 12px 22px;
    border-radius: 30px;
    margin: 15px 0 10px;
    font-weight: 600
}

.site-btn{
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13px 30px 12px;
    background: #0084ff;
    display: inline-block;
    border: none;
    margin: 10px 0 15px;
    width: 480px;
}

/*Connect Wallet*/
.wallet-label{
    position: absolute;
    top: -15px;
    right: 15px;
    z-index: 10;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-ent: center;
    user-select: none;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 32px;
    border: 2px solid transparent;
    background: rgb(4, 4, 5);
    color: rgb(255, 255, 255);
}

.shoping__checkout {
    background: #f5f5f5;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 20px;
    margin-top: 50px;
}

.shoping__checkout.v2{
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
}

/*product detail*/
.product-details {
    padding-top: 80px;
}

.product__details__pic__item {
    margin-bottom: 20px;
}

.product__details__pic__item img {
    min-width: 100%;
}

.product__details__text h3 {
    color: #252525;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sidebar__item__tags a {
    font-size: 16px;
    color: #6f6f6f;
    background: #f5f5f5;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 7px 26px 5px;
    margin-right: 6px;
    margin-bottom: 10px;
}
