html,
body{
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

.open {
    display: none;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.shape{
    background: #0077cc;
    height: 36px;
    border-radius: 22px;
    padding: 6px 12px;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}





/* Header */
.header .container {
    position: relative;
}

.header__top{
    background: #f5f5f5;
    height: 50px;
}

.header__top__left{
    padding: 10px 0 13px;
}

.header__top__left ul li {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 45px;
    position: relative;
}

.header__top__right{
    text-align: right;
    padding:10px 0 15px
}

.header__menu {
    padding: 24px 0;
}

.header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}

.header__menu ul li .header__menu__dropdown {
    position: absolute;
    left: 0;
    top: 50px;
    background: #222222;
    width: 180px;
    z-index: 9;
    padding: 5px 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
    margin-right: 0;
    display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
    color: #0084ff;
}

.header__menu ul li .header__menu__dropdown li a {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
}

.header__menu ul li.active a {
    color: #0084ff;
}

.header__menu ul li:hover .header__menu__dropdown {
    top: 30px;
    opacity: 1;
    visibility: visible;
}



.header__font{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.logo {
    padding: 15px 0;
}
/* Feature */
.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}

.featured__select {
    text-align: center;
    margin-bottom: 50px;
}

.featured__select ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}


.featured__item {
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 20px
}

.featured__item__choose {
    height: 270px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured__item__choose__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}



.featured__item__text {
    text-align: left;
    padding-top: 15px;
}

.featured__item__text h6 {
    margin: 10px 0 20px;
    font-weight: 600
}

.featured__item__text h6 a {
    color: #252525;
}

.featured__item__text h5 {
    color: #252525;
    font-weight: 700;
}

.featured__item__img {
    height: 400px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}
.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}





/* Device */

.device{
    padding-bottom: 50px;
}
.device__item{
    height: 431px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding: 0 45px;
}

.device__item__second{
    display: flex;
    background-position: center;
    align-items: center;
    padding: 45px 0 40px;
}

.device__text{
    text-transform: uppercase;
    font-weight: 700;
    color: #13e8e8;
}
.device__text__span{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 30px;
    display: inline-block;
    letter-spacing: 4px;
    color: #5a4ade;
    background: #fff;
}

.device__normal{
    padding-bottom: 30px;

}


/* Title */

.title{
    margin-bottom: 50px;
    text-align: center;
}

.title h2{
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}
/*---------------------
  Filter
-----------------------*/

.filter__item {
    padding-top: 45px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 20px;
}

.filter__sort {
    margin-bottom: 15px;
}

.filter__sort span {
    font-size: 16px;
    color: #6f6f6f;
    display: inline-block;
}

.filter__sort .nice-select {
    background-color: #fff;
    border-radius: 0;
    border: none;
    display: inline-block;
    float: none;
    height: 0;
    line-height: 0;
    padding-left: 18px;
    padding-right: 30px;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    cursor: pointer;
}

.filter__sort .nice-select span {
    color: #1c1c1c;
}

.filter__sort .nice-select:after {
    border-bottom: 1.5px solid #1c1c1c;
    border-right: 1.5px solid #1c1c1c;
    height: 8px;
    margin-top: 0;
    right: 16px;
    width: 8px;
    top: -5px;
}

.filter__sort .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.filter__sort .nice-select .list {
    border-radius: 0;
    margin-top: 0;
    top: 15px;
}

.filter__sort .nice-select .option {
    line-height: 30px;
    min-height: 30px;
}

.filter__found {
    text-align: center;
    margin-bottom: 15px;
}

.filter__found h6 {
    font-size: 16px;
    color: #b2b2b2;
}

.filter__found h6 span {
    color: #1c1c1c;
    font-weight: 700;
    margin-right: 5px;
}

.filter__option {
    text-align: right;
    margin-bottom: 15px;
}

.filter__option span {
    font-size: 24px;
    color: #b2b2b2;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.filter__option span:last-child {
    margin: 0;
}

.filter__option span:hover {
    color: #0084ff;
}

/*---------------------
  Upload
-----------------------*/

.upload {
    padding-top: 40px;
    padding-bottom: 60px;
}

.upload__form h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.

.upload__input {
    margin-bottom: 24px;
}

.upload__input p {
    color: #1c1c1c;
    margin-bottom: 20px;
}

.upload__input p span {
    color: #dd2222;
}

.upload__input input {
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 16px;
    color: #b2b2b2;
    border-radius: 4px;
}

.upload__input input.upload__input__add {
    margin-bottom: 20px;
}

.upload__input input::placeholder {
    color: #b2b2b2;
}

.upload__input__checkbox {
    margin-bottom: 10px;
}

.upload__input__checkbox label {
    position: relative;
    font-size: 16px;
    color: #1c1c1c;
    padding-left: 40px;
    cursor: pointer;
}

.upload__input__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.upload__input__checkbox label input:checked~.checkmark {
    background: #0084ff;
    border-color: #0084ff;
}

.upload__input__checkbox label input:checked~.checkmark:after {
    opacity: 1;
}

.upload__input__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 14px;
    border: 1px solid #a6a6a6;
    content: "";
    border-radius: 4px;
}

.upload__input__checkbox label .checkmark:after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0;
}

.upload__order {
    padding: 40px;
    padding-top: 30px;
    margin-bottom: 10px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
}
.load-more{
    max-width: 200px;
    display: inline-block;
    color: rgb(0, 102, 255)
}
.upload__order h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.upload__order .upload__order__products {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}

.upload__order .upload__order__products span {
    float: right;
}

.upload__order ul {
    margin-bottom: 12px;
}

.upload__order ul li {
    font-size: 16px;
    color: #6f6f6f;
    line-height: 40px;
    list-style: none;
}

.upload__order ul li span {
    font-weight: 700;
    float: right;
}

.upload__order .upload__order__subtotal {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.upload__order .upload__order__subtotal span {
    float: right;
}

.upload__order .upload__input__checkbox label {
    padding-left: 20px;
}

.upload__order .upload__order__total {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.upload__order .upload__order__total span {
    float: right;
    color: #dd2222;
}

.upload__order button {
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 10px;
}

/*download layout */

.download__layout{
    padding: 40px;
    padding-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.data__details{
    overflow: hidden;
    margin-bottom: 30px;
}

.data__details__text{
    overflow: hidden;
    padding-top: 10px;
}
.data__details__text h6{
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px
}

.download__button{
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #0084ff;
    border: none;
}



/*footer section */

.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}

.footer__bottom{
    margin-bottom: 30px;
}

.footer__logo{
    margin-bottom: 15px;
}
.footer__widget {
    margin-bottom: 30px;
    overflow: hidden;
}

/*pagination */

.page__pagination{
    padding-top: 10px;
}

.page__pagination a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
}

/*Breadcrumb*/
.breadcrumb-section {
    display: flex;
    background-position: center;
    align-items: center;
    padding: 45px 0 40px;
}

.breadcrumb__text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
}

.breadcrumb__option a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
}

.breadcrumb__option a:after {
    position: absolute;
    right: -12px;
    top: 13px;
    height: 1px;
    width: 10px;
    background: #ffffff;
    content: "";
}

.breadcrumb__option span {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}

/*---------------------
  Checkout
-----------------------*/

.checkout {
    padding-top: 80px;
    padding-bottom: 60px;
}

.checkout__form h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.checkout__order {
    padding: 40px;
    padding-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.

.checkout__input {
    margin-bottom: 24px;
}

.checkout__input p {
    color: #1c1c1c;
    margin-bottom: 20px;
}

.checkout__input p span {
    color: #dd2222;
}

.checkout__input input {
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 16px;
    color: #b2b2b2;
    border-radius: 4px;
}

.checkout__input input.checkout__input__add {
    margin-bottom: 20px;
}

.checkout__input input::placeholder {
    color: #b2b2b2;
}

.checkout__input__checkbox {
    margin-bottom: 10px;
}

.checkout__input__checkbox label {
    position: relative;
    font-size: 16px;
    color: #1c1c1c;
    padding-left: 40px;
    cursor: pointer;
}

.checkout__input__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
    background: #0084ff;
    border-color: #0084ff;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
    opacity: 1;
}

.checkout__input__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 14px;
    border: 1px solid #a6a6a6;
    content: "";
    border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0;
}

/*Button*/

.offer-btn{
    background: radial-gradient(115.34% 575.98% at 104.79% 0%, rgba(113, 227, 242, 0.17) 0%, rgba(124, 177, 255, 0.17) 44.96%, rgba(250, 0, 255, 0.09) 100%);
    text-align: center;
    padding: 12px 22px;
    border-radius: 30px;
    margin: 15px 0 10px;
    font-weight: 600
}

.site-btn{
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13px 30px 12px;
    background: #0084ff;
    border: none;
    margin: 10px 0 15px;
    width: 480px;
}



